---
import { getCollection, render } from "astro:content";
import Page from "../../layouts/Page.astro";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Page title={post.data.title}>
  <Layout>
    <h1>{post.data.title}</h1>
    <Content />
  </Layout>
</Page>
