---
import Page from "../../layouts/Page.astro";
import Layout from "../../layouts/Layout.astro";
import { getAllPublicPosts } from "../../lib/content/query";
import ContentContainer from "../../components/ContentContainer.astro";
import PostList from "../../components/PostList.astro";

const allPosts = await getAllPublicPosts();
---

<Page title="posts">
  <Layout>
    <ContentContainer>
      <h1 class="text-xl font-semibold">Posts</h1>
      <PostList posts={allPosts} />
    </ContentContainer>
  </Layout>
</Page>
