---
import Layout from "../layouts/Layout.astro";
import Page from "../layouts/Page.astro";
---

<Page title="sushichan044.dev" disableTitleTemplate>
  <Layout>
    <h1 translate="no">sushichan044.dev</h1>
  </Layout>
</Page>
