---
import { $path } from "astro-typesafe-routes/path";

import Link from "../components/Link.astro";
import PostList from "../components/PostList.astro";

import Layout from "../layouts/Layout.astro";
import Page from "../layouts/Page.astro";
import { getRecentPublicPosts } from "../lib/content/query";
import ArrowRightIcon from "~icons/lucide/arrow-right";
import ContentContainer from "../components/ContentContainer.astro";

const posts = await getRecentPublicPosts(5);
---

<Page title="sushichan044.dev" disableTitleTemplate>
  <Layout>
    <ContentContainer>
      <h2 class="text-xl font-semibold">Recent posts</h2>

      <PostList posts={posts} />

      <div class="flex justify-end">
        <Link
          class="inline-flex flex-row place-items-center gap-xs"
          href={$path({ to: "/posts" })}
        >
          View all posts <ArrowRightIcon />
        </Link>
      </div>
    </ContentContainer>
  </Layout>
</Page>
