---
import type { HTMLAttributes } from "astro/types";
import cn from "cnfast";

import ExternalLinkIcon from "~icons/lucide/external-link";

interface Props extends HTMLAttributes<"a"> {
  /**
   * @default "text"
   */
  variant?: "text" | "unstyled";

  /**
   * If true, Icon will be rendered as an external link, opening in a new tab and with rel="noopener noreferrer".
   *
   * @default "Automatically determined based on the href prop"
   */
  showExternal?: boolean;
}

const {
  variant = "text",
  class: className,
  "class:list": classList,
  href: _href,
  showExternal,
  target,
  rel,
  ...rest
} = Astro.props;
const href = _href ?? "";

const currentOrigin = new URL(Astro.url).origin;
const destinationOrigin = new URL(href, currentOrigin).origin;

const seemsExternal = currentOrigin !== destinationOrigin;

const t = target ?? (seemsExternal ? "_blank" : undefined);
const r = rel ?? (seemsExternal ? "noopener noreferrer" : undefined);
const externalIcon = showExternal ?? seemsExternal;
---

<a
  {...rest}
  class={cn(
    "text-zinc-700 hover:text-zinc-900 dark:text-zinc-300 dark:hover:text-zinc-100",
    variant === "unstyled" &&
      "text-inherit hover:text-inherit dark:text-inherit dark:hover:text-inherit",
    variant === "text" &&
      "text-zinc-700 hover:text-zinc-900 dark:text-zinc-300 dark:hover:text-zinc-100",
    variant !== "unstyled" && "transition-colors duration-150 ease-linear",
    className,
    classList,
  )}
  href={href}
  target={t}
  rel={r}
>
  <slot />
  {
    externalIcon && (
      <ExternalLinkIcon
        class="mx-xs inline-flex align-text-top leading-none"
        aria-hidden="true"
        height={16}
        width={16}
      />
    )
  }
</a>
