@import "tailwindcss";

html {
  scroll-behavior: smooth;
  text-size-adjust: 100%;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;

    transition-duration: 0.01ms !important;
    transition-delay: 0ms !important;

    scroll-behavior: auto !important;
  }
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**
 * TailwindCSS Customization
 *
 * See: https://tailwindcss.com/docs/theme https://tailwindcss.com/docs/adding-custom-styles
 */
@theme {
  --spacing-*: initial;
  /* We disabled the default spacing tokens in favor of our own custom spacing scale. */
  --spacing-0: 0;
  --spacing-2xs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 0.75rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-2xl: 3rem;

  --text-*: initial;
  /* We disabled the default text tokens in favor of our own custom text scale. */
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-md: 1rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem;
  --text-2xl: 1.75rem;
  --text-3xl: 2rem;
}
/* https://tailwindcss.com/docs/upgrade-guide#buttons-use-the-default-cursor */
@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@custom-variant dark {
  &:where(html[data-theme="dark"] *) {
    @slot;
  }
}

@custom-variant hover {
  @media (any-hover: hover) {
    &:hover {
      @slot;
    }
  }
}

@custom-variant focus {
  &:focus-visible {
    @slot;
  }
}

@utility content-auto {
  content-visibility: auto;
}
