<body class="min-h-dvh">
  <main class="container mx-auto p-xs lg:px-0">
    <slot />
  </main>
  <footer class="sticky top-full container mx-auto p-xs lg:px-0">
    © 2026 sushichan044.dev
  </footer>
</body>
